{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% if validlink %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<hgroup>
  <h1>Set a new password!</h1>
</hgroup>
<form id="signupForm" method="post">
  {% csrf_token %} 
  <div class="group">
    <input type="password" name="new_password1" id="id_password1" required><span class="highlight"></span><span class="bar"></span>
    <label>PASSWORD</label>
  </div>

  <div class="group">
    <input type="password" name="new_password2" id="id_password2" required><span class="highlight"></span><span class="bar"></span>
    <label>CONFIRM PASSWORD</label>
  </div>

  <p id="error-message" style="color:red; display:none;">Passwords do not match.</p>

  <button type="submit" class="button buttonBlue"> Reset Password 
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
</form>

{% else %}

<hgroup>
  <h1>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</h1>
</hgroup>

{% endif %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/login.js' %}"></script>