{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">

<hgroup>
  <h1>Sign Up</h1>
</hgroup>

<form id="signupForm" action="{% url 'accounts:signup' %}" method="post">
  {% csrf_token %} 

  <input name="next" type="hidden" value="{{ next }}"/>

  <div class="group">
    <input type="text" name="username" required><span class="highlight"></span><span class="bar"></span>
    <label>USERNAME</label>
  </div>

  <div class="group">
    <input type="text" name="email" required><span class="highlight"></span><span class="bar"></span>
    <label>EMAIL</label>
  </div>

  <div class="group">
    <input type="password" name="password1" id="id_password1" required><span class="highlight"></span><span class="bar"></span>
    <label>PASSWORD</label>
  </div>

  <div class="group">
    <input type="password" name="password2" id="id_password2" required><span class="highlight"></span><span class="bar"></span>
    <label>CONFIRM PASSWORD</label>
  </div>

  <p id="error-message" style="color:red; display:none;">Passwords do not match.</p>

  <button type="submit" class="button buttonBlue">Subscribe
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/login.js' %}"></script>
